<section class="container container__book-view">
    <div *ngIf="(book$ | async) as book;" class="book__template">
        <button class="button_back" on-click="goBack()">
            < Back to dashboard</button> <h1>{{book?.Title}}</h1>
                <span class="book__meta">Published: {{book?.PublishDate | date}}</span>
                <span class="book__meta">Pages: {{book?.PageCount | number}}</span>
                <div class="book__description">
                    <div class="book__main">{{book?.Description}}</div>
                    <button *ngIf="!excrept" on-click="excrept = !excrept" class="button_show-more">Show more</button>
                    <div class="book__main" *ngIf="excrept">
                        {{book?.Excerpt}}
                    </div>
                </div>
    </div>

</section>