
.container__book-view{
    background-color: #FFF;
    padding: 40px 56px;
}
h1{
    font-size: 38px;
    line-height: 1.25;
    margin: 16px 0 12px;
    font-weight: bold;
}
.book__meta{
    font-size: 11px;
    color: #2B3542;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;

}
.book__description{
    margin-top: 16px;
}
.book__main{
    font-size: 16px;
    line-height: 24px;
    color: #515665;
    display: block;
    margin: 0 0 8px;
}
.book__template{
    max-width: 80%;
    min-height: 40vh;
}
.button_back{
    padding: 8px 12px;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 10px;
    color: #2B3542;
    line-height: 21px;
    font-weight: 900;
    margin-left: -12px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    transition: all .15ms ease-in;
    &:hover{
        opacity: .8;
    }
    &:focus{
        outline:none;
    }
    &:active{
        outline:none;
    }
}
.button_show-more{

    padding: 8px 12px;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 10px;
    color: #2B3542;
    line-height: 21px;
    font-weight: 900;
    margin-left: -12px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    transition: all .15ms ease-in;
    &:after{
        content: "";
        border-width: 6px 4px 0;
        border-color: #29e7d6 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
        right: -9px;
        top: 15px;
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }
    &:hover{
        opacity: .8;
    }
    &:focus{
        outline:none;
    }
    &:active{
        outline:none;
    }
}