<section class="container container__chart" *ngIf="chartData$$ | async">
    <div class="container__canvas">
        <canvas yaiChart [dataSource]="chartData$$ | async" class="chart"></canvas>
    </div>
    <div class="chart__controls">
        <button class="chart__control" [ngClass]="{'chart__control_selected': chartMode === 'year'}"
            on-click="toggleChartMode('year')">Year</button>
        <button class="chart__control" [ngClass]="{'chart__control_selected': chartMode === 'month'}"
            on-click="toggleChartMode('month')">Monthes</button>
        <button class="chart__control" [ngClass]="{'chart__control_selected': chartMode === label}"
            *ngFor="let label of labels$$ | async" on-click="toggleChartMode(label)">{{label}}</button>
    </div>
</section>
<section class="container container__books">
    <yai-book *ngFor="let book of books$ | async" [isAuthors]="isAuthors" [book]="book"
        on-click="navToBook($event, book.ID)">
        <button class="button__authors" on-click="toggleAuthors()">Show Authors</button>
    </yai-book>
</section>