@import 'mixins';

.container__canvas{
    position: relative;
    width: 100%;
    @include phablet{
        padding: 0 32px;
    }
    @include mobile{
        padding: 0 24px;
    }
}
.container__books{
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(4, minmax(260px, 1fr));
    @include tablet{
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
    @include phablet{
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-auto-flow: row;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    }
    @include mobile{
       width: 90%;
       grid-auto-flow: row;
       grid-template:repeat(1, 1fr) / repeat(1, 1fr)
       //grid-template-rows: repeat(1, 1fr);
      //grid-template: 1fr/1fr/1fr/1fr;
    }
}
.container__chart{
    background: #FFF;
    padding: 64px 0;

}
.chart__controls{
    padding: 48px 96px 0;
    display: flex;
    &::-webkit-scrollbar {
        width: 0 !important;
        background: transparent;
        display: none;
    }
    @include phablet{
        padding: 48px 48px 0;
    }
    @include mobile{
        padding: 32px 32px 0;
        overflow-x: scroll;
     }
    .chart__control{
        margin-right: 16px;
        @include phablet{
            margin-right: 8px;
        }
    }


}
.chart__control{
    padding: 12px 24px;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 24px;
    cursor: pointer;
    font-size: 10px;
    color: #2B3542;
    line-height: 21px;
    font-weight: 900;
    margin-left: -12px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    transition: all .15ms ease-in;
    &:hover{
        color: #29e7d6;
    }
    &:focus{
        outline:none;
    }
    &:active{
        outline:none;
    }
}
.chart__control_selected{
    background-color: #29e7d6;
    &:hover{
        color: #2B3542 !important;
    }
}

.chart{
    width: 100%;
    max-width: 980px;
    position: relative;
    margin: 0 auto;
    height: 400px;
}
