@import 'mixins';

.book{
    width: 100%;
    height: auto;
    padding: 162px 35px 32px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.25s ease 0s;
    text-decoration: none;
    position: relative;
}
.title{
    font-size: 28px;
    font-weight: bold;
    line-height:40px;
    color: #2B3542;
    display: block;
}
.date{
    display: block;
    font-size: 10px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(43,53,66,0.60);
}
.description{
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #515665;
    margin-top: 10px;
    margin-bottom: 40px;
}
.button__authors{

    padding: 8px 12px;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 10px;
    color: #2B3542;
    line-height: 21px;
    font-weight: 900;
    margin-left: -12px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    transition: all .15ms ease-in;
    &:after{
        content: "";
        border-width: 6px 4px 0;
        border-color: #29e7d6 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
        right: -9px;
        top: 15px;
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }
    &:hover{
        opacity: .8;
    }
    &:focus{
        outline:none;
    }
    &:active{
        outline:none;
    }
}

.book__author{
    font-size: 11px;
    color: #2B3542;
    line-height: 21px;
    font-weight: bold;
    letter-spacing: 0.45px;
    display: block;
    margin-bottom: 4px;

}