<div class="book">
    <span class="title">{{book.Title}}</span>
    <span class="date">{{book.PublishDate | date}}</span>
    <span class="description">{{book.Description}}</span>
    <ng-content select="button"></ng-content>
    <div class="book__authors" *ngIf="isAuthors">
        <span class="book__author" *ngFor="let author of book.Authors">
            {{author.FirstName}} {{author.LastName}}
        </span>
    </div>
</div>